Options +MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /www.ykko.com.mm [L]
RewriteCond %{HTTP_HOST} ^ykko.com.mm [NC]
RewriteRule ^(.*)$ http://www.ykko.com.mm/$1 [L,R=301,NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]